@import '~antd/lib/style/themes/default.less';

th.message_type,
td.message_type {
  text-align: center !important;
}
.msg_button{
  color:#1890FF;
}
td:nth-last-child(1){
  width:170px;
}
td:nth-last-child(2){
  width:120px;
}
td:nth-first-child(1){
 width:500px;
}
.msg_input{
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
  margin: 0;
}